h2 {
  color: #000000;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.table thead th {
  text-align: center;
}

.table tbody td {
  vertical-align: middle;
  text-align: center;
}

.btn {
  font-weight: 500;
}

.table thead th {
  background-color: #0097a7 !important; 
  color: white !important;               
  font-weight: normal;
}

.table th {
  border-color: #cecece !important;
}

.btn-celeste {
  background-color: #0097a7 !important; 
  border-color: #0097a7 !important;
  color: white !important;
}

.btn-celeste:hover {
  background-color: #0097a7 !important;
  border-color: #0097a7 !important;
}
